@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');

body, input, select, textarea {
    font-family: Lato,YuGothic,'Hiragino Kaku Gothic Pro',Meiryo,sans-serif;
}
#intro header h2 {
    font-family: 'Audiowide', cursive;
}
.mini-post header .published {
    font-size: 0.8em;
    letter-spacing: 0.1em;
    text-transform: none;
}
.author, .format {
    font-size: 0.8em;
    font-family: Lato,YuGothic,'Hiragino Kaku Gothic Pro',Meiryo,sans-serif;
    letter-spacing: 0;
    font-weight: bold;
    text-transform: none;
}


h1, h2, h3, h4, h5, h6 {
    font-family: Lato,YuGothic,'Hiragino Kaku Gothic Pro',Meiryo,sans-serif;
    letter-spacing: 0.1em;
    text-transform: none;
}

.post h2 {
    font-size: 1.3rem;
    padding: 0.8rem 1.5rem 0.5rem;
    background: #f7f7f7;
    border-top: 3px solid #ddd;
    border-bottom: 2px solid #eceff1;
}

h3 {
    font-size: 1.1rem;
    padding: 0.8rem 1.5rem 0.5rem;
    border-top: 3px solid #ddd;
    border-bottom: 2px solid #eceff1;
    line-height: 1.5rem;
    margin: 1.5rem 0;
}
.mini-post header {
    padding: 1.25em 1.25em 0.1em 1.25em;
}
.mini-post header h3 {
    font-size: 0.9em;
}

h4 {
    border-left: solid .25rem #00acc1;
    padding: 0 .9rem;
    margin-top: 1.5rem;
    font-size: 1em;
}
h5 {
    padding: 0 .8rem;
    margin-top: 1.5rem;
    font-size: 0.8em;
}

header p {
    letter-spacing: 0.1em;
    line-height: 2;
    text-transform: none;
}

#content blockquote, #content p, #content ul {
    line-height: 2;
}

.hljs {
    color: #fafafa;
    background: #263238;
    margin: 1.5rem 0;
    padding: 1.5rem;
}
strong, b {
    box-shadow: 0 -0.5rem 0 0 #ffd54f inset;
}

.post > footer .stats li,
input[type="submit"], input[type="reset"], input[type="button"], .button {
    text-transform: none;
    font-family: Lato,YuGothic,'Hiragino Kaku Gothic Pro',Meiryo,sans-serif;
    letter-spacing: 0.1em;
}

em, i {
    font-size: 0.8em;
}
